body {
 padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
 color: #000;
 display: none;
}

form {
  margin: 0
}

small { 
  display: block;
  font-weight:normal;
  white-space:nowrap;
  text-indent: 0.15em;
  color: #888;
  font-family: monospace;
}

a { cursor: pointer ; color: darkblue;}

#dp3 {
  margin: 5px 5px 0 0;
}
  
#copy{
  text-align:center;
  padding-top: 900px;
}

.members span {
  background:#434;
  color:#ede;  

  white-space: pre;
  padding:0.5em;
  margin:0.15em;
  cursor: pointer;
  width:9em
}
.channel-name {
  color: #fff;
  text-indent: 1em;
}
.channel span {
  box-shadow: 
    2px 2px 4px rgba(250,250,250,0.5) inset,
    -2px -2px 4px rgba(0,0,0,0.5) inset;
  color:#ede;  
  padding:1em;
  cursor: pointer;
  width:9em;
}

.hover {
  background: rgba(188,188,210,0.5);
}
.members span.hover {
  opacity:0.5;
  background:#000 !important;
  box-shadow: 
    0 0 2px 4px #339,
    inset 0px 0px 1px 2px #aac;
}
.result {
  border-top: 1px solid #a9a;
  margin: 0.5em 0;
}
.row > .row {
  margin-left: 0;
}

.off > * { display: none }
.row.result.highlight,
.off .highlight {
  background: none;
}
.call span{ 
  display:inline-block;
  padding:0.3em 0.5em;
  margin:0.25em;
  vertical-align: middle;
  overflow: hidden;
}
.result .timestamp {
  display: block;
  font-size: 0.8em
}
.result .text  { 
  margin:0;
  margin-left:10px;
  width: 760px;
  display:inline-block;
}

#from, #to { width: 8em}

.expanded> div:nth-child(2n) { background: #eee }
.result .author { 
  width: 150px;
  white-space: nowrap;
  vertical-align:top;
  display:inline-block;
  line-height: 1.15em;
  overflow:hidden;
  font-size: 0.8em;
  padding-left: 1.25em;
}

/* Putting a transparent colon after the name will make it so that a copy/paste of the content
 * will reveal a colon after the name, but in the browser it will stay invisible
 */
.author .colon { color: transparent; height: 1px; display: block}

/* This is similar to the previous trick, but for multi-line chat messages.  We put in some spacing and elipses prior to
 * each line, but then hide their display in a way that a copy/paste will still pick it up, but the human eye will not
 */
i.tab,
pre.tab{
  display:inline-block;
  background:none;
  width:2px;
  border:0;
  margin:0 0 0 -2px;
  padding:0;
  height:3px;
  font-size:0px
}

.author a { color: darkblue; }
.expanded .timestamp {
  display: none;
}
.row-fluid .expanded [class*="span"] {
  min-height: 1em;
}
.expanded > div {
  line-height: 16px;
}
.expanded .author {
  line-height: inherit;
}
.expanded .text {
  line-height: inherit;
  min-height: 0;
}

.call .timestamp,
.call .duration { 
  font-weight: bold;
  font-size:1.25em;
}
.call .timestamp {
  font-weight:normal;
  font-size:1em;
}
.call .timestamp u {
  text-decoration: none;
  font-size:1.25em;
}
.call { 
  vertical-align: middle;
  margin: 0.25em 0;
  border-bottom: 1px solid #434 }

div.expanded > div.highlight {
  cursor: pointer;
  background: rgba(250,250,160, 0.5);
  display: block !important;
}
.row.result.highlight:hover,
.highlight:hover {
  background: rgba(250,250,160, 1.0);
}
#filterList .label {
  cursor: pointer;
  margin-right: 1em
}
.text { 
  font-size: 0.75em;
  line-height: 1.35em;
  font-family: monospace 
}
.result {
  position: relative
}
.result .expand {
  padding: 0.2em;
  zoom: 0.5;
  -moz-transform: scale(0.65);
  position: absolute;
  top: 0;
  left: 0;
}
@-moz-document url-prefix() {
    .result .expand {
        left: -0.25em;
        top: -.4em;
    }
}
.filterable {
  cursor: pointer;
}
.filterable:hover {
  opacity: 0.85;
  box-shadow: 0 0 4px 4px #ccc;
}
.row.channel .channel-name{
  min-height: 0;
  padding: 0.25em 0;
}
.row.channel{
  height: auto;
  font-size: 0.85em;
  margin-bottom: -0.60em;
}
partlist { display: none }
partlist:after {
  content: "Phone call"
}
/*
.dropdown-menu *,
.dropdown-menu li, .channel span, .members span, .label {
  color: transparent !important;
  text-shadow:0 0 10px yellow;
}
*/

#waiter {
  margin-left: 40%;
  text-align: center;
  display: none;
}

#fadingBarsG{
  position:relative;
  width:166px;
  height:20px
}

.fadingBarsG{
  position:absolute;
  top:0;
  background-color:#555555;
  width:20px;
  height:20px;
  -moz-animation-name:bounce_fadingBarsG;
  -moz-animation-duration:1.6s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-direction:linear;
  -moz-transform:scale(.3);
  -webkit-animation-name:bounce_fadingBarsG;
  -webkit-animation-duration:1.6s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:linear;
  -webkit-transform:scale(.3);
  -ms-animation-name:bounce_fadingBarsG;
  -ms-animation-duration:1.6s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-direction:linear;
  -ms-transform:scale(.3);
  -o-animation-name:bounce_fadingBarsG;
  -o-animation-duration:1.6s;
  -o-animation-iteration-count:infinite;
  -o-animation-direction:linear;
  -o-transform:scale(.3);
  animation-name:bounce_fadingBarsG;
  animation-duration:1.6s;
  animation-iteration-count:infinite;
  animation-direction:linear;
  transform:scale(.3);
}

#fadingBarsG_1{
  left:0;
  -moz-animation-delay:0.64s;
  -webkit-animation-delay:0.64s;
  -ms-animation-delay:0.64s;
  -o-animation-delay:0.64s;
  animation-delay:0.64s;
}

#fadingBarsG_2{
  left:21px;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
  -ms-animation-delay:0.8s;
  -o-animation-delay:0.8s;
  animation-delay:0.8s;
}

#fadingBarsG_3{
left:42px;
-moz-animation-delay:0.96s;
-webkit-animation-delay:0.96s;
-ms-animation-delay:0.96s;
-o-animation-delay:0.96s;
animation-delay:0.96s;
}

#fadingBarsG_4{
left:62px;
-moz-animation-delay:1.12s;
-webkit-animation-delay:1.12s;
-ms-animation-delay:1.12s;
-o-animation-delay:1.12s;
animation-delay:1.12s;
}

#fadingBarsG_5{
left:83px;
-moz-animation-delay:1.28s;
-webkit-animation-delay:1.28s;
-ms-animation-delay:1.28s;
-o-animation-delay:1.28s;
animation-delay:1.28s;
}

#fadingBarsG_6{
left:104px;
-moz-animation-delay:1.44s;
-webkit-animation-delay:1.44s;
-ms-animation-delay:1.44s;
-o-animation-delay:1.44s;
animation-delay:1.44s;
}

#fadingBarsG_7{
left:125px;
-moz-animation-delay:1.6s;
-webkit-animation-delay:1.6s;
-ms-animation-delay:1.6s;
-o-animation-delay:1.6s;
animation-delay:1.6s;
}

#fadingBarsG_8{
left:145px;
-moz-animation-delay:1.76s;
-webkit-animation-delay:1.76s;
-ms-animation-delay:1.76s;
-o-animation-delay:1.76s;
animation-delay:1.76s;
}

@-moz-keyframes bounce_fadingBarsG{
0%{
-moz-transform:scale(1);
background-color:#555555;
}

100%{
-moz-transform:scale(.3);
background-color:#999999;
}

}

@-webkit-keyframes bounce_fadingBarsG{
0%{
-webkit-transform:scale(1);
background-color:#555555;
}

100%{
-webkit-transform:scale(.3);
background-color:#999999;
}

}

@-ms-keyframes bounce_fadingBarsG{
0%{
-ms-transform:scale(1);
background-color:#555555;
}

100%{
-ms-transform:scale(.3);
background-color:#999999;
}

}

@-o-keyframes bounce_fadingBarsG{
0%{
-o-transform:scale(1);
background-color:#555555;
}

100%{
-o-transform:scale(.3);
background-color:#999999;
}

}

@keyframes bounce_fadingBarsG{
0%{
transform:scale(1);
background-color:#555555;
}

100%{
transform:scale(.3);
background-color:#999999;
}

}
