body {
 padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
 color: #000;
}
#copy{
 text-align:center;
 padding-top: 900px;
}
small { display: block;
  font-weight:normal;
  white-space:nowrap;
  text-indent: 0.15em;
  color: #888;
  font-family: monospace;

}
a { cursor: pointer }
.members span {
  background:#434;
  color:#ede;  

  white-space: pre;
  padding:0.5em;
  margin:0.15em;
  cursor: pointer;
  width:9em
}
.channel-name {
  color: #fff;
  text-indent: 1em;
}
.channel span {
  box-shadow: 
    2px 2px 4px rgba(250,250,250,0.5) inset,
    -2px -2px 4px rgba(0,0,0,0.5) inset;
  color:#ede;  
  padding:1em;
  cursor: pointer;
  width:9em;
}

.hover {
  background: rgba(188,188,210,0.5);
}
.members span.hover {
  opacity:0.5;
  background:#000 !important;
  box-shadow: 
    0 0 2px 4px #339,
    inset 0px 0px 1px 2px #aac;
}
.result {
  border-top: 1px solid #a9a;
  margin: 0.5em 0;
}
.row > .row {
  margin-left: 0;
}
.off > * { display: none }
.row.result.highlight,
.off .highlight {
  background: none;
}
.call span{ 
  display:inline-block;
  padding:0.3em 0.5em;
  margin:0.25em;
  vertical-align: middle;
}
.result .timestamp {
  display: block;
  font-size: 0.8em
}
.result .author { 
  line-height: 1.15em;
  font-size: 0.8em;
  padding-left: 1.25em;
}

.call .timestamp,
.call .duration { 
  font-weight: bold;
  font-size:1.25em;
}
.call .timestamp {
  font-weight:normal;
  font-size:1em;
}
.call .timestamp u {
  text-decoration: none;
  font-size:1.25em;
}
.call { 
  vertical-align: middle;
  margin: 0.25em 0;
  border-bottom: 1px solid #434 }

.highlight {
  cursor: pointer;
  background: rgba(250,250,160, 0.5);
  display: block !important;
}
.row.result.highlight:hover,
.highlight:hover {
  background: rgba(250,250,160, 1.0);
}
#filterList .label {
  cursor: pointer;
  margin-right: 1em
}
.text { 
  font-size: 0.75em;
  line-height: 1.35em;
  font-family: monospace 
}
.result {
  position: relative
}
.result .expand {
  padding: 0.2em;
  zoom: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}
.filterable {
  cursor: pointer;
}
.filterable:hover {
  opacity: 0.85;
  box-shadow: 0 0 4px 4px #ccc;
}
.row.channel .channel-name{
  min-height: 0;
  padding: 0.25em 0;
}
.row.channel{
  height: auto;
  font-size: 0.85em;
  margin-bottom: -0.60em;
}
partlist { display: none }
partlist:after {
  content: "Phone call"
}
/*
.dropdown-menu *,
.dropdown-menu li, .channel span, .members span, .label {
  color: transparent !important;
  text-shadow:0 0 10px yellow;
}
*/
