<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Skype Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/datepicker.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         
          <form class="navbar-search pull-left" action=javascript:finderAlias()>
            <input type="text" id="search" class="search-query" placeholder="Search">
          </form>
          
          <ul class="nav">
            <li><a onclick="state(this)">Calls</a></li>
            <li class="active"><a onclick="state(this)">Chat</a></li>
          </ul>

          <form class="navbar-search pull-left">
            <input data-provide="typeahead" type="text" id="room" class="search-query" placeholder="Room Filter">
          </form>

          <button 
            disabled
            class="btn" 
            type="button" 
            id="showAll" 
            onclick="filterClear()">All</button>

            <form class="navbar-dates pull-right">
              <div class="input-append date" id="dp3" data-date-format="yyyy-mm-dd">
                <input class="span2" size="16" type="text">
                <span class="add-on"><i class="icon-th"></i></span>
              </div>
            </form>

          <div class="container" id="filterList-container">
            <span id="filterList"></span>
          </div>
      </div>
    </div>

    <div class="container" id="instructions">
      <h2>Welcome to skype-search!</h2>
      <p>You can search all your conversations for a specific word.</p>
      <p>You can also view logs from only certain conversations (they will auto-complete).</p>
      <p><b>To start</b> enter a query term in the box above and press enter.</p>
      <p>You can get the latest version of this code at <a href=https://github.com/kristopolous/skype-search>https://github.com/kristopolous/skype-search</a>.</p>
      <i>Have fun.</i>
    </div>

    <div id="waiter">
      <div id="fadingBarsG">
        <div id="fadingBarsG_1" class="fadingBarsG"></div>
        <div id="fadingBarsG_2" class="fadingBarsG"></div>
        <div id="fadingBarsG_3" class="fadingBarsG"></div>
        <div id="fadingBarsG_4" class="fadingBarsG"></div>
        <div id="fadingBarsG_5" class="fadingBarsG"></div>
        <div id="fadingBarsG_6" class="fadingBarsG"></div>
        <div id="fadingBarsG_7" class="fadingBarsG"></div>
        <div id="fadingBarsG_8" class="fadingBarsG"></div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="container" id="results">
          </div>
        </div>
      </div>
    </div> <!-- /container -->

    <div id=copy>done by chris.mckenzie. <a href=https://github.com/kristopolous/skype-search>latest version</a></div>

    <script type="text/template" id="Channel-Item">
      <li><a><%= content %></a></li>
    </script>
    <script type="text/template" id="Call-Result">
      <div class="span1 timestamp"><span><%= begin_timestamp %></span></div>
      <div class="span1 duration"><span><%=duration %><small><%= fractional_duration %> hr</small></span></div>
      <div class="span8 members"><%= current_video_audience %></div>
      <div class="span1 channel"><span><%= conv_dbid %></span></div>
    </script>

    <script type="text/template" id="Filter-Room">
      <span hover="label label-inverse" class="label <%=type%>"><%= room %></span>
    </script>

    <script type="text/template" id="Channel-Header">
      <div class="row channel">
      <div class="channel-name span12"><%= channel %></div>
      </div>
    </script>

    <script type="text/template" id="Search-Container">
      <a class="btn expand"><i class="icon-chevron-down"></i></a>
      <div><%= row %></div>
    </script>

    <script type="text/template" id="Search-Result">
      <div title="<%= timestamp %>" class="span2 author"><%= $.trim(from_dispname) %><span class='timestamp'><%= timestamp %></span></div>
      <div class="span10 text"><%= body_xml %></div>
    </script>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/evda.min.js"></script>
    <script src="js/db.min.js"></script>
    <script src="js/ui.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/skype-search.js"></script>

  </body>
</html>
